<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="org.cups.android"
	  android:versionCode="104"
	  android:versionName="1.0.4"
	  android:installLocation="auto"
>
	<application android:label="@string/app_name"
				 android:icon="@drawable/printer"
				 android:allowBackup="true"
	>
		<activity android:name="org.cups.android.MainActivity"
				  android:label="@string/app_name"
				  android:launchMode="singleTask"
				  android:exported="true"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="org.cups.android.AdvancedPrintOptionsActivity"
				  android:label="@string/app_name"
				  android:exported="true"
		>
		</activity>
		<activity android:name="org.cups.android.AddPrinterActivity"
				  android:label="@string/app_name"
				  android:exported="true"
		>
		</activity>

		<service android:name="org.cups.android.CupsPrintService"
			     android:permission="android.permission.BIND_PRINT_SERVICE"
			     android:exported="true">
			<intent-filter>
				<action android:name="android.printservice.PrintService" />
			</intent-filter>
			<meta-data android:name="android.printservice" android:resource="@xml/printservice" />
		</service>

	</application>

	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

	<uses-feature android:name="android.hardware.touchscreen" android:required="false" /> <!-- Allow TV boxes -->
</manifest>
